html, body{
    height: 100%;
    font-size: 1rem;
}

.navbar{
    box-shadow: none;
}

.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
}

.nav-item a{
    color: #ffffff;
}

.CompanyName{
    margin-top: 5px;
    color: #ffffff;
}

.gradient{
    background: rgb(10,23,42);
    background: -moz-linear-gradient(304deg, rgba(10,23,42,1) 0%, rgba(24,40,62,1) 50%, rgba(31,47,71,1) 100%);
    background: -webkit-linear-gradient(304deg, rgba(10,23,42,1) 0%, rgba(24,40,62,1) 50%, rgba(31,47,71,1) 100%);
    background: linear-gradient(304deg, rgba(10,23,42,1) 0%, rgba(24,40,62,1) 50%, rgba(31,47,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a172a",endColorstr="#1f2f47",GradientType=1);
}

.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #ffffff;
}

.BannerHead{
    line-height: 4rem;
}

.BannerText{
    line-break: auto;
}

.highButton{
    font-size: 1rem;
    padding: 10px 80px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    transition-duration: 1s;
}

.highButton:hover{
    color: rgba(24,40,62,1);
    background-color: white;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .img-responsive {
        /*width: 950px;*/
    }

    .gradient{
        height: 80.5%;
    }
}

@media screen and (min-width: 1009px) and (max-width: 1199px) {

    .gradient{
        height: 72%;
    }
}


@media screen and (min-width: 992px) and (max-width: 1008px) {

    .gradient{
        height: 73.3%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .gradient{
        height: 80%;
    }
}

@media screen and (min-width: 300px) and (max-width: 767px) {

    .gradient{
        height: 100%;
    }
}

@media screen and (min-width: 300px) {
    .img-responsive {
        max-width: 100%;
        height: auto;
    }
}
